.choosePeople h5
      {
        color: #29338e;
        font-weight: 400;
        margin-bottom: 10px;
      }
      .choosePeople h5 strong
      {
        font-weight: 600;
      }
      .choosePeople h5 i
      {
        margin-right: 10px;
      } 
      .choosePeople ul li
      {
        list-style: none;
        text-transform: uppercase;
        color: #29338e;
        line-height: 30px;
        border-bottom: 1px solid #adabab;
        padding: 15px 0;
      }
      .choosePeople ul li:last-child
      {
        border-bottom: 0;
      }
      .choosePeople ul li p
      {
        margin-bottom: 0;
      }
      .choosePeople .content i
      {
        margin-right: 10px; 
      }   
      .count 
      {
        display: inline-flex;
        font-size: 25px;
        line-height: 30px;
        padding: 0 2px;
        min-width: 45px;
        text-align: right;
        float: right;
      }
      .count .plus 
      {
        cursor: pointer; 
        vertical-align: top;
        color: white;
        width: 30px;
        height: 30px; 
        text-align: center;
        border-radius: 50%;
        background-color: #eb375d !important;
        line-height: 23px;
      }
      .count .minus 
      {
        cursor: pointer; 
        vertical-align: top;
        color: white;
        width: 30px;
        height: 30px; 
        text-align: center;
        border-radius: 50%;
        background-clip: padding-box;
        background-color: #29338e !important;
        line-height: 23px;
      } 
      .count .minus:hover,
      .count .plus:hover
      {
        opacity: 0.8 !important;
      } 
      /*Prevent text selection*/
      .count span
      {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
      }
      .count input
      {  
          border: 0; 
          text-align: center;
          font-size: 20px;
          width: 50px;
      }
      .count input::-webkit-outer-spin-button,
      .count input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }
      .count input:disabled{
          background-color:white;
      }
      .people
      {
          border: 1px solid #adabab;
          padding: 0 10px;
          width: 100%;
      }
